{% extends '::base.html.twig' %}

{% trans_default_domain "project" %}

{% block title %}{{ "Project edit"|trans }}{% endblock %}

{% block body -%}
    <h1>{{ "Project edit"|trans }}</h1>

    {{ form(edit_form) }}
{% endblock %}
