{% block body %}
    <h3>{{ "Activity"|trans }}</h3>
    <div class="activity-list">
        {% if entities is empty %}
            {{ "There is no available activity"|trans({}, "activity") }}
        {% endif %}
        {% for entity in entities %}
            {{ render(path('activity_show', {'id': entity.id})) }}
        {% endfor %}
    </div>
{% endblock %}
