{% extends '::base.html.twig' %}

{% trans_default_domain "issue" %}

{% block title %}{{ "Issue edit"|trans }}{% endblock %}

{% block body -%}
    <h1>{{ "Issue edit"|trans }}</h1>

    {{ form(edit_form) }}
{% endblock %}
