{% extends '::base.html.twig' %}

{% trans_default_domain "issue" %}

{% block title %}{{ "Issue creation"|trans }}{% endblock %}

{% block body -%}
    <h1>{{ "Issue creation"|trans }}</h1>

    {{ form(form) }}

{% endblock %}
