{% extends '::base.html.twig' %}

{% block title %}{{ "Sign up"|trans }}{% endblock %}

{% block body -%}
    <div class="container">
        <h1>{{ "Sign up"|trans }}</h1>

        {{ form(form) }}
    </div>
{% endblock %}
