.event {
    padding-left: 1rem;
    display: table;
}

.event-desc {
    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.event-desc .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
}

.event-desc .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
}
