{% extends '::base.html.twig' %}

{% trans_default_domain "profile" %}

{% block title %}{{ "Profile edit"|trans }}{% endblock %}

{% block body -%}
    <h1>{{ "Profile edit"|trans }}</h1>

    {{ form(edit_form) }}
{% endblock %}
